<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.shop.mapper.CommodityMapper">

    <select id="getAll" resultType="com.liu.shop.pojo.Commodity">
        select * from commodity_list_table
    </select>

    <select id="getById" resultType="Commodity">
        select * from commodity_list_table where id=#{id}
    </select>

    <insert id="insertCommodity" parameterType="Commodity">
        insert into commodity_list_table(name,imgpath,price,title) values (#{name},#{imgpath},#{price},#{title})
    </insert>
</mapper>